

canvas {
	background-color: black;
	margin: 0px;
	padding: 0px;
	cursor: url('img/chalk0.png') 0 0, auto;
	z-index: -10000;
}


body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}


.magnet {
	position: absolute;
	
	font-size: 32px;
	font-weight: bold;
	cursor: grab;

}


.magnet:hover {
	box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 1);
}


div.magnet {
	background-color: white;
	padding: 8px;
}


img.magnet {
	padding: 0px;
	background-color:  rgba(64, 64, 64, 0.9);
}


img.magnet:hover {
	opacity: 0.9;
}

.GS_B {
	color: orange;
	border-radius: 32px;
	padding: 16px;
}

#menu {
	position: absolute;
	margin: 16px;

	background-color: gray;
	top: 0px;
	left: 0px;
	width: 90%;
	height: 90%;
	border: 16px gray solid;
	border-radius: 32px;
	z-index: 10000;
	overflow: auto;
}


#menu div {
	padding: 16px;
	background-color: gray;
}

#menu div div {
	margin: 16px;
	background-color: white;
	width: 380px;
	display:inline-block;
}

button {
	background-color: lightgray;
	border: none;
	border-radius: 16px;
	padding: 8px;
	font-size: 14pt;
	font-weight: bold;
	margin: 8px;
}


button:hover {
	background-color: rgb(177, 177, 177);
}


.buttonClear {
	background-color: rgb(255, 161, 98);
	
}


h1 {
	background-color: gray;
	color: white;
	margin: 0px;
	padding: 8px;
}

#help {
	color: white;
	position: absolute;
	top: 0px;
	left: 0px;
}

#number {
	color: white;
	position: absolute;
	top: 0px;
	right: 0px;
}


.keyboardkey {
	display: inline-block;
	color: #292929;
	border-radius: 6px;
	border: solid 1px #726e67;
	background: #eeedeb;
	padding: 4px;
	margin: 2px;
	box-shadow: 0px 2px 2px #7c604e;
}


#palette {
	position: absolute;
}


.paletteColorButton {
		position: absolute;
		border-radius: 32px;
		width: 46px;
		padding-left: 16px;	
		padding-right: 16px;	
		padding-top: 8px;	
		padding-bottom: 8px;	
		background-color: #555555;
		cursor: pointer;
}


.paletteColorButton:hover {
	background-color: gray;
}


.paletteColorButton.selected {
	border: 2px white solid;
}
