

canvas {
	background-color: black;
	margin: 0px;
	padding: 0px;
	cursor: url('img/chalk0.png') 0 0, auto;
	z-index: -10000;
}


body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}


.magnet {
	position: absolute;
	
	font-size: 32px;
	font-weight: bold;
	cursor: grab;

}


.magnet:hover {
	box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 1);
}


div.magnet {
	background-color: white;
	padding: 8px;
}


img.magnet {
	padding: 0px;
	background-color:  rgba(255, 255, 255, 0.2);
}


img.magnet:hover {
	background-color:  rgba(255, 255, 255, 0.3);
}

.GS_B {
	color: orange;
	border-radius: 32px;
	padding: 16px;
}

#menu {
	position: absolute;
	margin: 16px;

	background-color: gray;
	top: 0px;
	left: 0px;
	width: 90%;
	height: 90%;
	border: 16px gray solid;
	border-radius: 32px;
	z-index: 10000;
	overflow: auto;
}


#menu div {
	padding: 16px;
	background-color: gray;
}

#menu div div {
	margin: 16px;
	background-color: white;
	display:inline-block;
}

button {
	background-color: lightgray;
	border: none;
	border-radius: 16px;
	padding: 8px;
	font-size: 14pt;
	font-weight: bold;
}


button:hover {
	background-color: rgb(177, 177, 177);
}


.buttonClear {
	background-color: rgb(255, 161, 98);
	margin: 8px;
}


h1 {
	background-color: gray;
	color: white;
	margin: 0px;
	padding: 8px;
}

#help {
	color: white;
	position: absolute;
	top: 0px;
	left: 0px;
}

#number {
	color: white;
	position: absolute;
	top: 0px;
	right: 0px;
}


.keyboardkey {
	display: inline-block;
	color: #292929;
	border-radius: 6px;
	border: solid 1px #726e67;
	background: #eeedeb;
	padding: 8px;
	margin: 4px;
	box-shadow: 0px 6px 0px #7c604e;
}