/**main screen*/

html {
	overscroll-behavior-x: none;
}

body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	user-select: none;
	overscroll-behavior-x: none;
	background-color: black;
}

canvas {
	background-color: black;
	margin: 0px;
	padding: 0px;
	z-index: -10000;
}

#board {
	position: relative;
	margin: 0px;
	padding: 0px;
	height: 100%;
}



.pageNumberHidden {
	visibility: hidden;
}



#container {
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

svg {
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}


magnets {
	position:absolute;
	left: 0px;
	top: 0px;
}

em {
	color: rgb(220, 255, 168);
	font-weight: bold;
}

a {
	color: rgb(167, 167, 255);
}

/** Magnets **/

@keyframes magnetInit {
	from {
		filter: blur(2px)
	}

	to {}
}

.magnet {
	position: absolute;
	font-size: 32px;
	font-weight: bold;
	cursor: grab;
	animation: magnetInit 500ms normal;
}


@keyframes pageNumberShow {
	from {
		visibility: visible;
		opacity: 1.0;
	}

	to {
		visibility: hidden;
		opacity: 0.0;
	}
}

.pageNumber {
	position: absolute;
	animation: pageNumberShow 2000ms forwards;
	right: 0px;
	top: 0px;
	padding:12px;
	font-size: 24px;
	color: white;
	pointer-events: none;
}

.magnet:hover {
	box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 1);
}

.magnetDrag {
	cursor: none;
}

.magnetText div {
	background-color: rgba(27, 27, 27, 0.9);
	color: white;
	cursor: text;
}

div.magnetText {
	background-color: rgba(64, 64, 64, 0.9);
	color: white;
}


div.magnet {
	background-color: white;
	padding: 8px;
}





@keyframes magnetCreation {
	from {
		background-color: rgb(0, 0, 0);
		filter: blur(2px)
	}

	to {
		background-color: rgba(64, 64, 64, 0.9);
		background-image: none;
	}
}



img.magnet {
	padding: 0px;
	background-color: rgba(64, 64, 64, 0.9);
	animation: magnetCreation 500ms normal;
}


img.magnet:hover {
	opacity: 0.9;
}


@keyframes magnetCreationPolygon {
	0% {
		opacity: 0;
	}

	50% {
		stroke-dashoffset: 1000;
		opacity: 0.5;
	}

	100% {
		stroke-dashoffset: 2000;
		opacity: 1;
	}
}




#magnetCreationPolygon {
	stroke: greenyellow;
	fill: none;
	stroke-width: 8px;
	stroke-dasharray: 100 100;
	animation: magnetCreationPolygon 2s infinite;
	

}
/** Gale-Shapley, the B's**/
.GS_B {
	color: orange;
	border-radius: 32px;
	padding: 16px;
}






/**menu **/

/**selector of the board**/

#blackVSWhiteBoard {
	font-size: 24;
	font-weight: bold;
	background-color: white;
	border-radius: 8px;
	padding: 4px;
}

@keyframes menuShow {
	from {
		opacity: 0;
		top: 64px;
		left: 64px;
		right: 64px;
		bottom: 64px;
		scale: 0.2;
		visibility: hidden;
	}

	to {
		opacity: 1;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		scale: 1;
	}
}

.menuShow {
	visibility: visible;
	animation: menuShow 200ms normal;
}

.menuHide {
	visibility: hidden;

}

#menu {
	display: flex;
}

.tabs {
	display: inline-block;
	background-color: black;
}


.tablink {
	display: block;
	border: none;
	background-color: inherit;
	color: rgb(180, 180, 180);
	padding: 8px;
	padding-top: 6px;
	font-size: 14pt;
	margin: 8px;
	width: 300px;
	outline: none;
}

.tablink:hover {
	background-color: rgb(51, 51, 51);
}

.selected {
	background: rgb(51, 51, 51);
	color: white;
}

.tabcontent {
	padding: 32px;

}



h2 {
	margin: 8px;
	margin-top: 32px;
	padding: 0px;
}

h3 {
	margin-bottom: 0px;
}

table {
	border-collapse: collapse;
	margin: 8px;
	padding: 8px;
	color: white;
}


tr {
	border: 1px solid #bbbbbb;
}

th,
td {
	border-bottom: 0px solid #ddd;
}

td:first-child {
	white-space: nowrap;
	background-color: #3d3d3d;
	padding-right: 16px;
}

button {
	background-color: rgb(108, 108, 255);
	color: white;
	border: none;
	border-radius: 5px;
	padding: 8px;
	padding-top: 6px;
	font-size: 14pt;
	margin: 8px;
	outline: none;
}

button img {
	height: 64px;
}

.magnetCollectionButton {
	display: block;
	background: none;
	color:  rgb(191, 191, 255);
	border: none;
	outline: none;
	padding: 0px;
	cursor: pointer;
}

.magnetCollectionButton:hover {
	display: block;
	background: none;
	color:  rgb(157, 157, 255);
	border: none;
	outline: none;
}

button:hover {
	background-color: rgb(132, 132, 255);
}


.buttonClear {
	background-color: rgb(255, 116, 74);

}


.buttonClear:hover {
	background-color: rgb(228, 86, 42);
}


h1 {
	color: white;
	margin: 0px;
	padding: 8px;
}


.MenuPanel {
	position: absolute;
	background-color: rgb(61, 61, 61);
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 10000;
	overflow: auto;
	color: white;
}



#help .explanation {
	border-radius: 32px;
	padding: 16px;
	margin: 8px;
}

#help .modePanel {
	padding: 16px;
	margin-left: 16px;
	margin-right: 16px;
	display: inline-block;
	width: 40%;
	min-height: 250px;
	background-color: rgb(29, 29, 29)
}



.preview {
	border: white 5px solid;
	scale: 0.1;
	height: 200px;
	width: 300px;
	pointer-events: none;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

#number {
	color: white;
	position: absolute;
	top: 0px;
	right: 0px;
}


.keyboardkey {
	display: inline-block;
}




#palette {
	position: absolute;
	z-index: 10000;
	transition: 400ms;
}




.PaletteShow {
	opacity: 1;
	transform: rotate(0deg), scale(1);
	visibility: visible;

}


.PaletteHide {
	opacity: 0;
	transform: rotate(180deg) scale(10);
	visibility: hidden;
}

.paletteColorButton {
	position: absolute;
	border-radius: 32px;
	width: 46px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #555555;
	cursor: pointer;
}


.paletteColorButton:hover {
	background-color: gray;
}


.paletteColorButton.selected {
	border: 2px white solid;
}


#controls {
	position: absolute;
	top: 0px;
	left: 0px;
}