/**
main screen
*/

body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	user-select: none;
}

canvas {
	background-color: black;
	margin: 0px;
	padding: 0px;
	z-index: -10000;
}




/** Magnets **/

.magnet {
	position: absolute;

	font-size: 32px;
	font-weight: bold;
	cursor: grab;

}


.magnet:hover {
	box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 1);
}


div.magnet {
	background-color: white;
	padding: 8px;
}



@keyframes magnetCreation {
	from {
		background-color: rgb(0, 0, 0);
		filter: blur(2px)
	}

	to {
		background-color: rgba(64, 64, 64, 0.9);
		background-image: none;
	}
}

img.magnet {
	padding: 0px;
	animation: magnetCreation 500ms normal;
	background-color: rgba(64, 64, 64, 0.9);
}


img.magnet:hover {
	opacity: 0.9;
}


/** Gale-Shapley, the B's**/
.GS_B {
	color: orange;
	border-radius: 32px;
	padding: 16px;
}


/**menu **/

#menu {
	position: absolute;
	margin: 16px;
	margin: 48px;
	background-color: gray;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	border: 16px gray solid;
	border-radius: 32px;
	z-index: 10000;
	overflow: auto;
}

#board {
	font-size: 24;
	font-weight: bold;
	background-color: white;
	border-radius: 8px;
	padding: 4px;
}


#menu div {
	padding: 16px;
	background-color: gray;
	display: flex;
	flex-flow: row wrap;
	align-content:flex-start;
	flex-grow: 0;

}

#menu div div {
	background-color: white;
	text-align: justify;
	margin: 8px;
	display: inline-block;
	
	
	width: 480px;

}



#menu div div a {
	margin-top: 16px;
}


h2 {
	margin: 8px;
	padding: 0px;
}

h3 {
	margin-bottom: 0px;
}

table {
	border-collapse: collapse;
	margin: 8px;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #ffffff;
}

td:first-child {
	background-color: #eeeeee;
}

tr:nth-child(odd) {
	background-color: #ffffff;
}

tr {
	border: 1px solid  #bbbbbb;
}
th,
td {
	border-bottom: 0px solid #ddd;
}

td:first-child {
	white-space: nowrap;
	padding-right: 16px;
}

button {
	background-color: lightgray;

	border-radius: 16px;
	padding: 8px;
	padding-top: 6px;
	font-size: 14pt;
	font-weight: bold;
	margin: 8px;
}


button:hover {
	background-color: rgb(177, 177, 177);
}


.buttonClear {
	background-color: rgb(255, 161, 98);

}


.buttonClear:hover {
	background-color: rgb(255, 116, 74);
}


h1 {
	background-color: gray;
	color: white;
	margin: 0px;
	padding: 8px;
}

#help {
	color: white;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 640px;
}

#number {
	color: white;
	position: absolute;
	top: 0px;
	right: 0px;
}


.keyboardkey {
	display: inline-block;
}




#palette {
	position: absolute;
	z-index: 10000;
}



.paletteColorButton {
	position: absolute;
	border-radius: 32px;
	width: 46px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #555555;
	cursor: pointer;
}


.paletteColorButton:hover {
	background-color: gray;
}


.paletteColorButton.selected {
	border: 2px white solid;
}


#controls {
	position: absolute;
	top: 0px;
	left: 0px;
}
